<div class="header">
  <%= link_to(root_path) do %>
  <div class="header__logo">
    <%= image_tag("http://image.eveonline.com/Corporation/98383644_128.png") %>
    <div class="header__logo-text">
      ANTIGEN
    </div>
  </div>
  <% end %>
  <div class="header__nav-links">
    <% if current_user %>
      <div class="header__nav-link">
        <%= link_to('Doctrines', doctrines_path) %>
      </div>
      <% if current_user.member %>
        <div class="header__nav-link">
          <%= link_to('Missions', mission_groups_path) %>
        </div>
      <% end %>
      <% if current_user.director %>
        <div class="header__nav-link">
          <%= link_to "Latest Uploads", latest_videos_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Upload Video", new_video_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Operation List", operations_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Create Op", new_operation_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Year List", years_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Latest Contacts", recruit_contacts_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Add new Contact", new_recruit_contact_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Recruitment Requirements", recruit_requirements_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Roles", roles_path %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Members", members_path  %>
        </div>
        <div class="header__nav-link">
          <%= link_to "Systems", fac_war_systems_path %>
        </div>
      <% end %>
      <div class="header__nav-link">
        <%= link_to('Logout', destroy_user_session_path) %>
      </div>
    <% end %>
  </div>
</div>
