<h1>Add new Doctrine</h1>
<%= form_tag(@doctrine) do  %>
  <%= render "shared/error_messages", :target => @doctrine %>
  <div class="form-group">
    <%= label_tag 'name', "Doctrine Name" %>
    <%= text_field_tag 'name', nil, :placeholder => "Shield Nano Brawler" %>
  </div>
  <div class="form-group">
    <%= label_tag :abbreviation, "Doctrine Abbreviation" %>
    <%= text_field_tag :abbreviation, nil, :placeholder => "SNB" %>
  </div>
  <div class="form-group">
    <%= label_tag :short_description, "Short Description" %>
    <%= text_area_tag :short_description, nil, size: "50x5", :placeholder => "This description will display on the doctrine list page." %>
  </div>
  <div class ="form-group">
    <%= label_tag :long_description, "Long Description" %>
    <%= text_area_tag :long_description, nil, size: "50x10", :placeholder => "This description will display on this doctrine's page." %>
  </div>
  <div class="form-group">
    <%= label_tag :roles, "Accessible To" %>
    <%= select_tag "roles", options_from_collection_for_select(@roles, "id", "name"), multiple: true %>
  </div>
  <div class="form-group">
    <%= label_tag :access_by_hierarchy, "Access by Hierarchy?" %>
    <%= check_box_tag :access_by_hierarchy %>
    Enabling Access by Hierarchy will make this doctrine accessible to all roles selected AND those above the listed role with the highest hierarchy ranking.
    <div class="form-group__access-hierarchy">
      Access Hierarchy Ranks
      <% @roles.each do |role| %>
        <div class="form-group__access-hierarchy__detail">
          <div class="form-group__access-hierarchy-detail__name">
            <%= role.name %>
          </div>
          <div class="form-group__access-hierarchy-detail__ranking">
            <%= role.hierarchy_ranking %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag "Add new Doctrine" %>
  </div>
<% end %>
