<h1><%= @doctrine.name %></h1>
<div class="doctrine__nav-links">
  <% if current_user.director %>
    <%= link_to "Add New Fitting", new_doctrine_fitting_path(@doctrine) %>
  <% end %>
</div>
<div class="doctrine-description">
  <%= @doctrine.long_description %>
</div>
<%= @fittings_hash.each do |key, race| %>
  Race: <%= key %>
  <br/>
  <%= race.each do |key, progression | %>
    Progression: <%= key %>
    <br/>
    <%= progression.each do |fit| %>
      Fit: <%= fit.name %>
      <br/>
    <% end %>
  <% end %>
<% end %>
