<h1> Recruit Contact: <%= @recruit_contact.name %> </h1>

<div class="recruit-contact__details">
  <div class="recruit-contact__details-contacted-by">
    Contacted By: <%= @recruit_contact.contacted_by %>
  </div>
  <div class="recruit-contact__details-conversation-type">
    Conversation Type: <%= @recruit_contact.conversation_type %>
  </div>
  <div class="recruit-contact__details-timezone">
    Timezone: <%= @recruit_contact.timezone %>
  </div>
  <div class="recruit-contact__details-conclusion">
    Conclusion: <%= @recruit_contact.conclusion %>
  </div>
</div>



