<h1>Create New Role</h1>
<%= form_for(@role) do |f| %>
  <%= render "shared/error_messages", :target => @role %>
  <div class="form-group">
    <%= f.label :name, "Role Name" %>
    <%= f.text_field :name, placeholder: "Capital Pilot" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Role Description" %>
    <%= f.text_area :description, size: "50x5", placeholder: "A role to distinguish capital pilots from other pilots." %>
  </div>
  <div class="form-group">
    <%= f.label :hierarchy_ranking, "Hierarchy Ranking" %>
    <%= f.number_field :hierarchy_ranking, in: 1..20 %>
  </div>
  <div class="form-group">
    <%= f.submit "Add new Role" %>
  </div>
<% end %>
