<!DOCTYPE html>
<html>
  <head>
    <title>Antigen</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render "shared/nav_links" %>
    <p class="notice"><%= notice %></p>
    <%#= render "shared/nav_links" %>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
