<!DOCTYPE html>
<html>
<head>
  <title>EveVideoManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
    <%= link_to "Latest Uploads", latest_videos_path %>
    <%= link_to "Upload Video", new_video_path %>
    <%= link_to "Operation List", operations_path %>
    <%= link_to "Create Op", new_operation_path %>
    <%= link_to "Year List", years_path %>
    <%= link_to "Latest Contacts", recruit_contacts_path %>
    <%= link_to "Add new Contact", new_recruit_contact_path %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
