<h1>Member List</h1>
<div class="member-list__nav-links">
  <%= link_to "Refresh Member List", refresh_member_list_path %>
</div>
<table>
  <thead>
    <th> Name </th>
    <th> Start Date </th>
    <th> Title </th>
    <th> Roles </th>
    <th> Authed </th>
    <th></th>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <% member_roles = "" %>
      <% if @members_roles_hash["#{member.characterID}"].present? %>
        <% @members_roles_hash["#{member.characterID}"].each do |role| %>
          <% member_roles = member_roles + "#{role}, " %>
        <% end %>
      <% end %>
      <td> <%= member.name %> </td>
      <td> <%= member.startDateTime.strftime("%m-%e-%y %H:%M") %> </td>
      <% if member.title == "f" %>
        <td></td>
      <% else %>
        <td> <%= member.title %> </td>
      <% end %>
      <td> <%= member_roles.chomp(", ") %> </td>
      <td> <%= member.taken %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
