<h1>Create a New Operation</h1>

<div class="dst" data-dst="<%= @dst %>"/>
<%= form_for(@operation) do |f| %>
  <%#= render 'shared/error_messages', object: f.object%>
  <div>All fields required</div>
  <div class="form-group">
    <%= f.label :name, "Op Name" %>
    <%= f.text_field :name, placeholder: "Operation Testy" %>
  </div>

  <div class="form-group">
    <%= f.label :fleet_commander, "Fleet Commander" %>
    <%= f.text_field :fleet_commander, placeholder: "Your Character Name" %>
  </div>

  <div class="form-group">
    <%= f.label :op_date, "Operation Date" %>
    <%= f.date_select :op_date, default: Date.today%>
  </div>

  <div class="form-group">
    <div class="time-preview op-prep-start-time">
      Prep Start Time Preview
      <div class="time-preview__pst-container">
        <div class="time-preview__name">
          PST:
        </div>
        <div class="time" data-time-hour="<%=@pst_hour%>" data-time-minute="00">
          <%=@pst_hour%>:00
        </div>
      </div>
      <div class="time-preview__cst-container">
        <div class="time-preview__name">
          CST:
        </div>
        <div class="time" data-time-hour="<%=@cst_hour%>" data-time-minute="00">
          <%=@cst_hour%>:00
        </div>
      </div>
      <div class="time-preview__est-container">
        <div class="time-preview__name">
          EST:
        </div>
        <div class="time" data-time-hour="<%=@est_hour%>" data-time-minute="00">
          <%=@est_hour%>:00
        </div>
      </div>
    </div>
    <%= f.label :op_prep_start, "Op Prep Start EVE Time" %>
    <%= f.time_select :op_prep_start, default: Time.now, minute_step: 15 %>
  </div>

  <div class="form-group">
    <div class="time-preview op-departure-time">
      <div class="time-preview__name-container">
        Op Departure Time Preview
      </div>
      <div class="time-preview__pst-container">
        <div class="time-preview__name">
          PST:
        </div>
        <div class="time" data-time-hour="<%=@pst_hour%>" data-time-minute="00">
          <%=@pst_hour%>:00
        </div>
      </div>
      <div class="time-preview__cst-container">
        <div class="time-preview__name">
          CST:
        </div>
        <div class="time" data-time-hour="<%=@cst_hour%>" data-time-minute="00">
          <%=@cst_hour%>:00
        </div>
      </div>
      <div class="time-preview__est-container">
        <div class="time-preview__name">
          EST:
        </div>
        <div class="time" data-time-hour="<%=@est_hour%>" data-time-minute="00">
          <%=@est_hour%>:00
        </div>
      </div>
    </div>
    <%= f.label :op_departure, "Op Departure EVE Time" %>
    <%= f.time_select :op_departure, default: Time.now, minute_step: 15 %>
  </div>

  <div class="form-group">
    <div class="time-preview op-completion-time">
      Op Completion Time Preview
      <div class="time-preview__pst-container">
        <div class="time-preview__name">
          PST:
        </div>
        <div class="time" data-time-hour="<%=@pst_hour%>" data-time-minute="00">
          <%=@pst_hour%>:00
        </div>
      </div>
      <div class="time-preview__cst-container">
        <div class="time-preview__name">
          CST:
        </div>
        <div class="time" data-time-hour="<%=@cst_hour%>" data-time-minute="00">
          <%=@cst_hour%>:00
        </div>
      </div>
      <div class="time-preview__est-container">
        <div class="time-preview__name">
          EST:
        </div>
        <div class="time" data-time-hour="<%=@est_hour%>" data-time-minute="00">
          <%=@est_hour%>:00
        </div>
      </div>
    </div>
    <%= f.label :op_completion, "Op Completion EVE Time" %>
    <%= f.time_select :op_completion, default: Time.now, minute_step: 15 %>
  </div>

  <div class="form-group">
    <%= f.label :ships %>
    <%= f.text_field :ships, value: "", placeholder: "Ship 1, Ship 2, Ship 3" %>
  </div>

  <div class="form-group">
    <%= f.label :doctrine %>
    <%= f.text_field :doctrine, placeholder: "We don't have these yet?" %>
  </div>

  <div class="form-group">
    <%= f.label :voice_coms_server, "Voice Coms Server" %>
    <%= f.text_field :voice_coms_server, placeholder: "Corp TS" %>
  </div>

  <div class="form-group">
    <%= f.label :voice_coms_server_channel, "Voice Coms Channel" %>
    <%= f.text_field :voice_coms_server_channel, placeholder: "Ops 1" %>
  </div>

  <div class="form-group">
    <%= f.label :rally_point %>
    <%= f.text_field :rally_point, placeholder: "Tama @ Sun" %>
  </div>

  <div class="form-group">
    <%= f.label :specialty_roles %>
    <%= f.text_field :specialty_roles, value: "", placeholder: "Scout, Bait, Cyno" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Operation", class: "btn btn-large btn-primary" %>
  </div>
<% end %>


